button {
    background-color: var(--accent);
    outline: none;
    border: none;
    align-items: center;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    color: var(--background);
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    min-width: 130px;
  }
  
  button svg {
    width: 16px;
    height: 16px;
  }
  
  button.text {
    background-color: transparent;
    color: var(--black);
  }
  
  button.outline {
    background-color: transparent;
    color: var(--black);
    border: 2px solid var(--gray);
    transition: all 0.2s ease-in-out;
  }
  
  button.outline:hover {
    border-color: var(--accent);
  }